html {
  height: 100%;
}

body {
  background-color: black;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
    
nav {
  position: sticky;
  top: 0;
}

.menubar {
  display: inline-block;
}

footer {
  position: sticky;
  bottom: 0;
  grid-row-start: 2;
  grid-row-end: 3;
}
    
div {
    background-color: white
    }

